<div class="app-sidebar-content" data-scrollbar="true" data-height="100%">

    <div class="menu">
        <!-- <div class="menu-header">Navigation</div> -->
        <!-- <div class="menu-item">
            <a href="index.html" class="menu-link">
                <span class="menu-icon"><i class="fa fa-laptop"></i></span>
                <span class="menu-text">Dashboard</span>
            </a>
        </div>
        <div class="menu-item">
            <a href="analytics.html" class="menu-link">
                <span class="menu-icon"><i class="fa fa-chart-pie"></i></span>
                <span class="menu-text">Analytics</span>
            </a>
        </div>
        <div class="menu-item has-sub">
            <a href="#" class="menu-link">
                <span class="menu-icon">
                    <i class="fa fa-envelope"></i>
                    <span class="menu-icon-label">6</span>
                </span>
                <span class="menu-text">Email</span>
                <span class="menu-caret"><b class="caret"></b></span>
            </a>
            <div class="menu-submenu">
                <div class="menu-item">
                    <a href="email_inbox.html" class="menu-link">
                        <span class="menu-text">Inbox</span>
                    </a>
                </div>
                <div class="menu-item">
                    <a href="email_compose.html" class="menu-link">
                        <span class="menu-text">Compose</span>
                    </a>
                </div>
                <div class="menu-item">
                    <a href="email_detail.html" class="menu-link">
                        <span class="menu-text">Detail</span>
                    </a>
                </div>
            </div>
        </div> -->
        <div class="menu-divider"></div>
        <div class="menu-header">Components</div>
        <div class="menu-item">
            <a routerLink="detail/id/{{ UserID }}" routerLinkActive="active" class="menu-link">
                <span class="menu-icon"><i class="fas fa-info"></i></span>
                <span class="menu-text">Infor</span>
            </a>
        </div>
        <div class="menu-item">
            <a routerLink="product" routerLinkActive="active" class="menu-link">
                <span class="menu-icon"><i class="fas fa-home"></i></span>
                <span class="menu-text">Products</span>
            </a>
        </div>
        <div class="menu-item">
            <a routerLink="package" routerLinkActive="active" class="menu-link">
                <span class="menu-icon">
                    <svg width="20" height="20" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg"
                        style="transform: scale(1.5);" class="sc-jWBwVP cpmruK">
                        <path d="M5 12.5H15V14H5V12.5Z M5 11L4 7L8 8L10 4L12 8L16 7L15 11H5Z"></path>
                    </svg>
                </span>
                <span class="menu-text">Packages Buy</span>
            </a>
        </div>
        <!-- <div class="menu-item has-sub">
            <a routerLink="category" routerLinkActive="active" class="menu-link">
                <span class="menu-icon"><i class="fas fa-file-alt"></i></span>
                <span class="menu-text">Categories</span>
            </a>
        </div>
        <div class="menu-item has-sub">
            <a routerLink="address" class="menu-link" routerLinkActive="active">
                <span class="menu-icon"><i class="fas fa-map-marked-alt"></i></span>
                <span class="menu-text">Address</span>
            </a>
        </div>
        <div class="menu-item has-sub">
            <a routerLink="packages" class="menu-link" routerLinkActive="active">
                <span class="menu-icon">
                    <svg width="20" height="20" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg"
                        class="sc-jWBwVP cpmruK">
                        <path d="M5 12.5H15V14H5V12.5Z M5 11L4 7L8 8L10 4L12 8L16 7L15 11H5Z"></path>
                    </svg>
                </span>
                <span class="menu-text">Packages</span>
            </a>
        </div>
        <div class="menu-divider"></div>
        <div class="menu-header">Customer</div>
        <div class="menu-item">
            <a routerLink="customer" class="menu-link" routerLinkActive="active">
                <span class="menu-icon"><i class="fas fa-users"></i></span>
                <span class="menu-text">Customer</span>
            </a>
        </div>
        <div class="menu-item">
            <a href="calendar.html" class="menu-link">
                <span class="menu-icon"><i class="fa fa-calendar"></i></span>
                <span class="menu-text">Calendar</span>
            </a>
        </div>
        <div class="menu-item">
            <a href="settings.html" class="menu-link">
                <span class="menu-icon"><i class="fa fa-cog"></i></span>
                <span class="menu-text">Settings</span>
            </a>
        </div>
        <div class="menu-item">
            <a href="helper.html" class="menu-link">
                <span class="menu-icon"><i class="fa fa-question-circle"></i></span>
                <span class="menu-text">Helper</span>
            </a>
        </div>
        <div class="p-3 px-4 mt-auto hide-on-minified">
            <a href="studio/documentation/index.html" target="_blank"
                class="btn btn-block btn-secondary font-weight-600 rounded-pill">
                <i class="fa fa-code-branch mr-1 ml-n1 opacity-5"></i> Documentation
            </a>
        </div> -->
    </div>

</div>


<button class="app-sidebar-mobile-backdrop" data-dismiss="sidebar-mobile"></button>