<div class="modal-body p-0">
    <div class="py-4">
        <div class="d-flex justify-content-between w-100 flex-wrap">
            <div class="mb-3 mb-lg-0">
                <div class="">
                    <div class="alert-group">
                        <!-- Success -->
                        <div class="d-none" [class]="alert_success ? 'd-block alert alert-success' : ''">
                            {{ alert_Text }}
                        </div>
                        <!-- Danger -->
                        <div class="d-none" [class]="alert_danger ? 'd-block alert alert-danger' : ''">
                            {{ alert_Text }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row text-left">
        <div class="col-12 mb-4">
            <div class="card border-light shadow-sm components-section">
                <div class="card-body">
                    <form #AddEditEmployeeForm="ngForm" [formGroup]="formValidator">
                        <input type="hidden" class="form-control" name="ID" formControlName="ID">
                        <div class="row mb-4">

                            <!-- midder form -->
                            <div class="col-lg-4 col-sm-6">
                                <div class="mb-4">
                                    <label>Project Name</label>
                                    <input type="text" class="form-control" name="ProjectName"
                                        formControlName="ProjectName" (blur)="checkValidForm('ProjectName')">

                                </div>
                                <!-- Title -->
                                <div class="mb-4">
                                    <label for="address">Title</label>
                                    <input type="text" class="form-control" name="Title" formControlName="Title"
                                        (blur)="checkValidForm('Title')">
                                </div>
                                <!-- Select banner -->
                                <div class="mb-3 select-img">
                                    <div class="angular-property-image bg-overlay-gradient-04">
                                        <label for="ImageFile" class="position-absolute select--banner">Select
                                            banner</label>
                                        <input type="file" name="ImageFile" id="ImageFile" class="d-none"
                                            accept="image/*" (change)="onSelectFile($event)">
                                        <img [src]="DefaultandNewAvatar" [alt]="DefaultandNewAvatar" class="img-fluid">
                                    </div>

                                </div>

                                <div class="overflow-auto row list-image__Lib">
                                    <div class="text-center w-100"><label for="ImageFeature">Select feature
                                            Image</label></div>
                                    <div class="col-4 image__Lib" *ngFor="let feature of ArrayCRDFeature">
                                        <div class="angular-property-image">
                                            <img [src]="feature.url + feature.Name" [alt]="feature.Name"
                                                class="img-fluid" />
                                        </div>

                                        <span class="fas fa-times-circle" (click)="deleteAnfeature(feature)">
                                        </span>
                                    </div>
                                    <div class="col-12 text-center">
                                        <label for="ImageFeature" class="position-absolute select--banner"><span><i
                                                    class="fas fa-plus-circle"></i></span></label>
                                        <input type="file" name="ImageFile" id="ImageFeature" class="d-none"
                                            (change)="onSelectFileFeature($event)">

                                    </div>

                                </div>
                                <!-- Select img feature -->



                            </div>
                            <!-- Adress -->
                            <div class="col-lg-4 col-sm-6">

                                <div class="form-file mb-3 mb-4">
                                    <label class="form-file-label position-relative" for="location">
                                        <span class="form-file-text">Location</span>
                                    </label>

                                    <select class="form-select form-control" formControlName="Location" id="location"
                                        (change)="selectByLocation()">
                                        <option *ngFor="let Location of listLocation" [value]="Location.LocationID"
                                            [selected]="Location.LocationID == formValidator.controls.Location.value">
                                            {{ Location.LocationName }}
                                        </option>
                                    </select>
                                </div>
                                <!-- Country -->
                                <div class="mb-4">
                                    <label for="Country">Country</label>
                                    <select class="form-select form-control" formControlName="Country"
                                        (change)="selectByCountry()">
                                        <option *ngFor="let Country of listCountry" [value]="Country.CountryID"
                                            [selected]="Country.CountryID == formValidator.controls.Country.value">
                                            {{ Country.CountryName }}
                                        </option>
                                    </select>
                                </div>
                                <!-- City  -->
                                <div class="mb-4">
                                    <label for="City">City</label>

                                    <select class="form-select form-control" formControlName="City"
                                        (change)="selectByCity()">
                                        <option *ngFor="let City of listCity" [value]="City.CityID"
                                            [selected]="City.CityName == formValidator.controls.City.value">
                                            {{ City.CityName }}
                                        </option>
                                    </select>
                                </div>
                                <!-- District  -->
                                <div class="mb-4">
                                    <label for="District">District</label>

                                    <select class="form-select form-control" formControlName="District"
                                        (change)="selectByDistrict()">
                                        <option *ngFor="let District of listDistrict" [value]="District.DistrictID"
                                            [selected]="District.DistrictName == formValidator.controls.District.value">
                                            {{ District.DistrictName }}
                                        </option>
                                    </select>
                                </div>
                                <!-- Are  -->
                                <div class="mb-4">
                                    <label for="Are">Are</label>

                                    <select class="form-select form-control" formControlName="Are">
                                        <option *ngFor="let Are of listAre" [value]="Are.AreID"
                                            [selected]="Are.AreID == formValidator.controls.Are.value">
                                            {{ Are.AreName }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <!-- END Adress -->

                            <div class="col-lg-4 col-sm-6">

                                <!-- Price -->
                                <div class="mb-4">
                                    <label for="Price">Price</label>
                                    <input type="number" class="form-control" name="Price" formControlName="Price"
                                        (blur)="checkValidForm('Price')">
                                </div>
                                <!-- Category -->
                                <div class="mb-4">
                                    <label for="Category">Category</label>
                                    <!-- <input type="number" name="CategoryID" formControlName="CategoryID" id="Category"> -->
                                    <select class="form-select form-control" formControlName="CategoryID"
                                        name="CategoryID">
                                        <option *ngFor="let category of listCategies" [value]="category.CategoryID">
                                            {{category.CategoryName}}
                                        </option>
                                    </select>
                                </div>

                                <!-- Sqft  -->
                                <div class="mb-4">
                                    <label for="Sqft">Sqft</label>
                                    <input type="number" class="form-control" formControlName="Sqft"
                                        (blur)="checkValidForm('Sqft')">
                                </div>

                                <!-- ImageBannerName  -->
                                <div class="mb-4 d-none">
                                    <label for="ImageBannerName">ImageBannerName</label>
                                    <input type="text" class="form-control" name="ImageBannerName"
                                        value="ImageBannerName" formControlName="ImageBannerName"
                                        (blur)="checkValidForm('ImageBannerName')">
                                </div>

                                <!-- LevelActive  -->
                                <div class="mb-4">
                                    <label for="LevelActive">LevelActive</label>
                                    <select class="form-select form-control" name="LevelActive"
                                        formControlName="LevelActive">
                                        <option *ngFor="let lvl of listLevelActive" [value]="lvl.lvl"
                                            [selected]="lvl.Title == formValidator.controls.LevelActive.value">
                                            {{lvl.Title}}
                                        </option>
                                    </select>
                                </div>

                            </div>

                            <div class="mb-4 des-tion col-12">
                                <label for="">Description</label>
                                <textarea name="Description" formControlName="Description" rows="5"
                                    class="w-100 form-control"></textarea>
                            </div>

                            <div class="col-12">
                                <button type="submit" class="btn btn-success btn-outline-success d-block mx-auto"
                                    (click)="UpdateProject(formValidator.value);
                                                 upPhotoImageFeature();"
                                    [disabled]="formValidator.status == 'INVALID' || disabled">
                                    Sumit
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>