<div class="d-flex align-items-center mb-3">
    <div>

        <div class="">
            <div class="alert-group">
                <!-- Success -->
                <div class="d-none" [class]="alert_success ? 'd-block alert alert-success' : ''">
                    {{ alert_Text }}
                </div>
                <!-- Danger -->
                <div class="d-none" [class]="alert_danger ? 'd-block alert alert-danger' : ''">
                    {{ alert_Text }}
                </div>
                <!-- warn -->
                <div class="d-none" [class]="alert_warn ? 'd-block alert alert-warning' : ''">
                    {{ alert_Text }}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="overflowX-auto">
    <table class="table table-hover">
        <thead class="angular-thead">
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>quantity product</th>
                <th>Roles</th>
                <th class="text-center">Active</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let c of listCategory">
                <td>
                    <div class="angular-property-image bg-overlay-gradient-04">
                        <img [src]="c.ImageBannerSrc + c.Avatar" [alt]="c.Avatar" class="img-fluid" width="50" height="50">
                    </div>
                </td>
                <td>{{ c.CategoryName }}</td>
                <td>
                    <!-- {{c.QuantityProduct }} -->
                </td>
                <td>{{ c.CategoryTitle }}</td>
                <th class="th-active">
                    <div [ngSwitch]="c.Active" class="box-active">
                        <div *ngSwitchCase="false">
                            <span class="suspended rounded">Suspended</span>
                        </div>
                        <div *ngSwitchCase="true"><span class="active">Active</span></div>
                        <div *ngSwitchDefault><span class="suspended">{{c.Active }}</span></div>
                    </div>
                </th>
                <!-- Action BOX-->
                <td>
                    <span class="dropdown">
                        <!-- <span class="dropdown-menu p-0" aria-labelledby="dropdownMenu2"> -->
                        <span class="d-flex box-action">
                            <button class="dropdown-item detail" type="button" data-toggle="modal"
                                data-target="#modal-form-AddEdit" (click)="GetDataCheckisAddorEdit(false,c)">
                                <i class="far fa-lg fa-fw me-2 fa-edit"></i>
                            </button>
                            <button class="dropdown-item delete" type="button" (click)="DeleteEmPloyee(c.CategoryID)">
                                <i class="far fa-trash-alt"></i>
                            </button>
                        </span>
                    </span>
                </td>
            </tr>

        </tbody>
    </table>
</div>



<!-- Form Add / Edit -->
<div class="modal fade" id="modal-form-AddEdit" tabindex="-1" role="dialog" aria-labelledby="modal-form-signup"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content angular-form__add-edit col-6">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-0">
                <div class="py-4">
                    <div class="d-flex justify-content-between w-100 flex-wrap">
                        <div class="mb-3 mb-lg-0">
                            <h2 class="Title pl-4">{{isAddCategoryForm ? 'Add Category' : 'Edit Category'}}</h2>
                        </div>
                    </div>
                </div>

                <div class="row text-left">
                    <div class="col-12 mb-4">
                        <div class="card border-light shadow-sm components-section">
                            <div class="card-body">
                                <form #AddEditEmployeeForm="ngForm" [formGroup]="formValidator">
                                    <input type="hidden" class="form-control" formControlName="CategoryID">
                                    <div class="col-12 mb-4">
                                        <!-- header form -->
                                        <div class="d-flex justify-content-between">
                                            <div class="w-100 p-2">
                                                <label>Category Name</label>
                                                <input type="text" class="form-control" formControlName="CategoryName"
                                                    (blur)="checkValidForm('CategoryName')">

                                            </div>
                                            <!-- Title -->
                                            <div class="w-100 p-2">
                                                <label for="address">Title</label>
                                                <input type="text" class="form-control" formControlName="CategoryTitle"
                                                    (blur)="checkValidForm('CategoryTitle')">
                                            </div>
                                        </div>
                                        <!-- Select Avatar Category -->
                                        <div class="mb-3 select-img">
                                            <div class="angular-property-image bg-overlay-gradient-04">
                                                <label for="ImageFile" class="position-absolute select--banner">Select
                                                    banner</label>
                                                <input type="file" name="ImageFile" id="ImageFile" class="d-none"
                                                    accept="image/*" (change)="onSelectFile($event)">
                                                <img [src]="DefaultandNewAvatar" [alt]="DefaultandNewAvatar"
                                                    class="img-fluid">
                                            </div>
                                        </div>

                                        <!-- Active -->
                                        <div class="mb-4">
                                            <label for="">Active</label>
                                            <input type="checkbox" formControlName="Active" />
                                        </div>
                                        <!-- footer form -->
                                        <div class="col-12">
                                            <button type="submit"
                                                class="btn btn-success btn-outline-success d-block mx-auto"
                                                (click)="isAddCategoryForm ? CreateCategory(formValidator.value) : UpdateCategory(formValidator.value)"
                                                data-dismiss="modal" aria-label="Close"
                                                [disabled]="formValidator.status == 'INVALID'">
                                                Sumit
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of Form Add / Edit -->