<div class="d-flex align-items-center mb-3">
    <div>

        <div class="">
            <div class="alert-group">
                <!-- Success -->
                <div class="d-none" [class]="alert_success ? 'd-block alert alert-success' : ''">
                    {{ alert_Text }}
                </div>
                <!-- Danger -->
                <div class="d-none" [class]="alert_danger ? 'd-block alert alert-danger' : ''">
                    {{ alert_Text }}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="overflowX-auto">
    <table class="table table-hover">
        <thead class="angular-thead">
            <tr>
                <th colspan="3">
                    Name
                </th>
                <th colspan="2">Roles</th>
                <th class="text-center">Active</th>
                <th class="text-center">Action</th>
            </tr>
            <tr>
                <td colspan="3">
                    <input class="form-control" type="text" />
                </td>
                <td colspan="2">
                    <select class="form-select form-control">
                        <option *ngFor="let Roles of ListRoles">
                            {{Roles.UserType}}
                        </option>
                    </select>
                </td>
                <td class="text-center">
                    <div class="mb-4">
                        <label for="">Active</label>
                        <input type="checkbox" />
                    </div>
                </td>
                <td class="text-center">
                    <div class="box-action">
                        <button class="dropdown-item detail d-flex align-baseline m-auto" type="button" (click)="ActiveAllAccout()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-list-check fa-lg fa-fw" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3.854 2.146a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 3.293l1.146-1.147a.5.5 0 0 1 .708 0zm0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 7.293l1.146-1.147a.5.5 0 0 1 .708 0zm0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z" />
                            </svg>
                            <span style="margin-top: -3px">Active All</span>
                        </button>
                    </div>
                </td>
            </tr>
            <tr>
                <th>ID</th>
                <th>Image</th>
                <th>Name</th>
                <th>Email</th>
                <th>Roles</th>
                <th class="text-center">Active</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let c of listSeller">
                <td>{{ c.ID }}</td>
                <td>
                    <div class="angular-property-image bg-overlay-gradient-04">
                        <img [src]="c.ImageBannerSrc + c.Avatar" [alt]="c.Avatar" class="img-fluid" width="50"
                            height="50">
                    </div>
                </td>
                <td>{{ c.Name }}</td>
                <th class="font-weight-normal">{{ c.Email }}</th>
                <td>{{ c.User_type }}</td>
                <th class="th-active text-center">
                    <div [ngSwitch]="c.Active" class="box-active">
                        <div *ngSwitchCase="false">
                            <span class="suspended rounded">Suspended</span>
                        </div>
                        <div *ngSwitchCase="true"><span class="active">Active</span></div>
                        <div *ngSwitchDefault><span class="suspended">{{c.Active }}</span></div>
                    </div>
                </th>
                <!-- Action BOX-->
                <td>
                    <span class="dropdown">
                        <!-- <span class="dropdown-menu p-0" aria-labelledby="dropdownMenu2"> -->
                        <span class="d-flex box-action justify-content-around">
                            <button class="dropdown-item detail" type="button" data-toggle="modal"
                                data-target="#modal-view--detail" (click)="GetDataCheckisAddorEdit(false,c)">
                                <i class="far fa-lg fa-fw me-2 fa-eye"></i>
                            </button>
                            <button class="dropdown-item detail" type="button" data-toggle="modal"
                                data-target="#modal-form-AddEdit" (click)="GetDataCheckisAddorEdit(false,c)">
                                <i class="far fa-lg fa-fw me-2 fa-edit"></i>
                            </button>
                        </span>
                    </span>
                </td>
            </tr>

        </tbody>
    </table>
</div>

<!-- Form Add / Edit -->
<div class="modal fade" id="modal-form-AddEdit" tabindex="-1" role="dialog" aria-labelledby="modal-form-signup"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content angular-form__add-edit col-6">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-0">
                <div class="py-4">
                    <div class="d-flex justify-content-between w-100 flex-wrap">
                        <div class="mb-3 mb-lg-0">
                            <h2 class="Title pl-4">Edit by ...?...</h2>
                        </div>
                    </div>
                </div>

                <div class="row text-left">
                    <div class="col-12 mb-4">
                        <div class="card border-light shadow-sm components-section">
                            <div class="card-body">
                                <form #AddEditEmployeeForm="ngForm" [formGroup]="formValidator">
                                    <input type="hidden" class="form-control" formControlName="ID">
                                    <div class="col-12 mb-4">
                                        <!-- header form -->
                                        <div class="d-flex justify-content-between">
                                            <!-- User Type -->
                                            <div class="col12 col-sm-6 form-file mb-3">
                                                <label class="form-file-label position-relative" for="phone">
                                                    <span class="form-file-text">Roles</span>
                                                </label>
                                                <select class="form-select form-control" formControlName="User_type">
                                                    <option *ngFor="let Roles of ListRoles" [value]="Roles.UserType"
                                                        [selected]="Roles.UserType == formValidator.controls.User_type.value">
                                                        {{Roles.UserType}}
                                                    </option>
                                                </select>
                                            </div>
                                            <!-- Active -->
                                            <div class="mb-4">
                                                <label for="">Active</label>
                                                <input type="checkbox" formControlName="Active" />
                                            </div>
                                        </div>


                                        <!-- footer form -->
                                        <div class="col-12">
                                            <!-- <button type="submit"
                                                class="btn btn-success btn-outline-success d-block mx-auto"
                                                (click)="isAddCategoryForm ? CreateCategory(formValidator.value) : UpdateCategory(formValidator.value)"
                                                data-dismiss="modal" aria-label="Close"
                                                [disabled]="formValidator.status == 'INVALID'">
                                                Sumit
                                            </button> -->
                                            <button type="submit"
                                                class="btn btn-success btn-outline-success d-block mx-auto"
                                                data-dismiss="modal" aria-label="Close"
                                                (click)="UpdateUser(formValidator.value)"
                                                [disabled]="formValidator.status == 'INVALID'">
                                                Sumit
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of Form Add / Edit -->

<!-- Form View Detail profile -->
<div class="modal fade" id="modal-view--detail" tabindex="-1" role="dialog" aria-labelledby="modal-view--detail"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content angular-form__add-edit col-6">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-0">
                <div class="py-4">
                    <div class="d-flex justify-content-between w-100 flex-wrap">
                        <div class="mb-3 mb-lg-0">
                            <h2 class="Title pl-4">Profile of ...?... </h2>
                        </div>
                    </div>
                </div>

                <div class="row text-left">
                    <div class="col-12 mb-4">
                        <div class="card border-light shadow-sm components-section">
                            <div class="card-body">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of Form Add / Edit -->