.angular-property-image {
    max-width: 100px;
    overflow: hidden;
}
tr {
  text-align: center;
}
span.d-flex.box-action {
  justify-content: center;
}
 .space-ptb {
    padding: 0
}

app-deltail-user > .space-ptb { padding: 0}