/*
    bs4
    navigation
    breadcrumb
    form__add-edit

    Frame + imge
    Table
    Box Active
    Alert Css

    ICON

    page Customer
*/
/* ======= BS4 ======= */
.form-control {
    font-weight: normal;
    color: var(--gray);
}

.form-control:focus {
    box-shadow: 0px 0px 5px rgb(80 132 234 / 34%);
    border-color: transparent;
}

button:focus > .fa-ellipsis-h {
    text-shadow: 0px 0px 1px black;
}
/* ======= BS4 ======= */

/* Navigation */
.hiddenNav {
    transform: translateX(-100%);
}

.transition1s {
    transition: 0.5s;
}
/* END navigation */

/* breadcrumb */
.breadcrumb-item.active {
    text-transform: uppercase;
}
/* END breadcrumb */

/*  form__add-edit */
.angular-form__add-edit.col-6 {
    transform: translate(-50%);
    left: 50%;
}
/*  ===============
        fORM 
=================*/
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.dropdown-item {
    width: auto;
    padding: 0;
}
/*  ===============
      END  fORM 
=================*/

/*  END form__add-edit */


/* Table */

::-webkit-scrollbar {
    display: none;
    width: 0px;
}
.angular-thead tr th {
    font-weight: 600;
    color: #b5b5c3 !important;
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}
.th-active span {
    padding: 0.2rem 0.75rem;
    border-radius: 10px;
}

.select--banner {
    margin: 0;
    z-index: 1;
    color: #ffffffd1;
    text-shadow: 0px 0px 1px #000000;
    width: 100%;
    height: 100%;

    text-align: center;
    cursor: pointer;
    font-size: 20px;
    left: 0;
    bottom: 0;
}

.angular-property-image {
    padding-bottom: 62.5%;
}

.overflowX-auto {
    overflow-x: auto;
}

.box-active {
    /* text-align: center; */
}
/* END Table */

/* Box Active, Action */
.active {
    color: #3699ff;
    background-color: #e1f0ff;
}
.viewhome {
    color: #1bc5bd;
    background-color: #c9f7f5;
}
.suspended {
    color: #f64e60;
    background-color: #ffe2e5;
}

/*  Action */
.box-action button {
    padding: 0.55rem 1.5rem;
    background-color: #b5b5c329;
    border-radius: 10px;
    margin: 5px;
}

.box-action button.view {
    color: #1abc9c;
}
.box-action button.detail {
    color: #3498db;
}
.box-action button.delete {
    color: #e74c3c;
}
/* END Box Active, Action */

/* Alert Css */
.alert-group {
    position: fixed;
    right: 0;
    z-index: 99;
        opacity: 1 !important;

}
.alert-group > div {
    color: white;
    margin-right: 20px;
}

.alert-group > div[class*="alert"] {
    animation: alertAnimation 1 4s forwards ease;
}
@keyframes alertAnimation {
    0% {
        opacity: 1 !important;
    }
    100% {
        opacity: 0;
    }
}
/* End alert Css */

/*  ================= 
        ICON
============= */
.fa-upload {
    width: 100%;
    height: 100%;
    position: absolute;
    cursor: pointer;
}
.fa-upload::before {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%);

    color: white;
    text-shadow: 0px 0px 1px black;
}
.dropdown-toggle::after {
    display: none;
}

/*  ================= 
    END   ICON
============= */


/* ========== Customer */

/* ==========  End CUSTOMER */