/*
bs4
    Frame + imge
    Table
    Box Active
    Alert Css
*/
/* ======= BS4 ======= */
.form-control {
    font-weight: normal;
    color: var(--gray);
}

.form-control:focus {
    box-shadow: 0px 0px 5px rgb(80 132 234 / 34%);
    border-color: transparent
}
/* ======= BS4 ======= */
/* Frame + imge */
.angular-property-image {
    position: relative;
    padding-bottom: 100%
}

.angular-property-image .img-fluid {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    left: 0;
    object-fit: cover;
}
/* END  Frame + imge */

/* Table */
.angular-thead tr th {
    font-weight: 600;
    color: #b5b5c3 !important;
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}
.th-active span {
    padding: 0.2rem 0.75rem;
    border-radius: 10px;
}
/* END Table */

/* Box Active, Action */
.active {
    color: #3699ff;
    background-color: #e1f0ff;
}
.viewhome {
    color: #1bc5bd;
    background-color: #c9f7f5;
}
.suspended {
    color: #f64e60;
    background-color: #ffe2e5;
}


/*  Action */
.box-action button {
    padding: 0.55rem 1.5rem;
}

.box-action button.view {
    color: #1abc9c;
}
.box-action button.detail {
    color: #3498db;
}
.box-action button.delete {
    color: #e74c3c;
}
/* END Box Active, Action */

/* Alert Css */
.alert-group {
    position: fixed;
    right: 0;
    z-index: 99;
}
.alert-group > div {
    color: white;
    margin-right: 20px;
}

.alert-group > div[class*="alert"] {
    animation: alertAnimation 1 4s forwards ease;
}
@keyframes alertAnimation {
    0% {
        opacity: 0.8;
    }
    100% {
        opacity: 0;
    }
}
/* End alert Css */