<!--=================================
My profile -->
<div class="alert-group position-fixed mt-3 w-100">
    <!-- Success -->
  
    <!-- Danger -->
    <div class="d-none" [class]="alert_danger ? 'd-block alert alert-danger' : ''">
        {{ alert_Text }}
    </div>
</div>
<section class="">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <h2>Product Manager</h2>
                <div class="profile-sidebar bg-holder bg-overlay-black-70 mb-2"
                    style="background-image: url(assets/page/images/banner-01.jpg);">
                    <div class="d-sm-flex py-5 position-relative">
                        <div class="profile-avatar p-0">
                            <img class="img-fluid" [src]="AvatarSrc + UserInfor.Avatar" [alt]="UserInfor.Avatar">
                            <label for="SelectAvatar"><i class="fas fa-sync-alt"></i></label>
                            <input type="file" class="d-none" id="SelectAvatar" (change)="onSelectFile($event)" />
                        </div>
                        <div class="ml-sm-4">
                            <h4 class="text-white">{{ UserInfor.FullName }}</h4>
                            <b class="text-white">{{ UserInfor.Email }}</b>
                        </div>
                    </div>
                </div>
                <form [formGroup]="formValidator" (ngSubmit)="UpgradeFile(formValidator.value)">
                    <input type="hidden" class="form-control" formControlName="ID">

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>User name</label>
                            <input type="text" class="form-control" formControlName="Name">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Email address</label>
                            <input type="text" disabled class="form-control" [value]="userEmail">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Phone number</label>
                            <input type="number" class="form-control" formControlName="Phone" #phone
                                (keyup)="checkValidForm('phone')">
                            <p class="alert-danger" *ngIf="PhoneisNull">Pls eneter your phone</p>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Title</label>
                            <input type="text" class="form-control" formControlName="Title">
                        </div>
                        <!-- Adress -->
                        <div class="row row-cols-sm-3 row-cols-lg-5 row-cols-2">
                            <div class="form-file mb-3 col">
                                <label class="form-file-label position-relative" for="location">
                                    <span class="form-file-text">Location</span>
                                </label>
                                <mat-form-field class="example-full-width d-block">
                                    <input matInput aria-label="Location" [matAutocomplete]="Location"
                                        formControlName="Location" id="location">
                                    <mat-autocomplete #Location="matAutocomplete">
                                        <mat-option *ngFor="let Location of listLocation"
                                            [value]="Location.LocationName">
                                            <img style="vertical-align:middle;" aria-hidden
                                                src="{{imgsrcLocation + Location.Avatar}}" height="25" width="25"
                                                alt="{{ Location.Avatar }}" />
                                            <span class="ml-2">{{ Location.LocationName }}</span>
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </div>
                            <!-- Country -->
                            <div class="col">
                                <label for="Country">Country</label>
                                <!-- <select class="form-select form-control" formControlName="Country" (change)="selectByCountry()">
                                                                <option *ngFor="let Country of listCountry" [value]="Country.CountryID"
                                                                    [selected]="Country.CountryID == formValidator.controls.Country.value">
                                                                    {{ Country.CountryName }}
                                                                </option>
                                                            </select> -->
                                <mat-form-field class="example-full-width d-block">
                                    <input matInput aria-label="Country" [matAutocomplete]="Country"
                                        formControlName="Country" id="Country" />
                                    <mat-autocomplete #Country="matAutocomplete">
                                        <mat-option *ngFor="let Country of listCountry" [value]="Country.CountryName">
                                            <img style="vertical-align:middle;" aria-hidden
                                                src="{{imgsrcCountry + Country.Avatar}}" height="25" width="25"
                                                alt="{{ Country.Avatar }}" />
                                            <span class="ml-2">{{ Country.CountryName }}</span>
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </div>
                            <!-- City  -->
                            <div class="col">
                                <label for="City">City</label>
                                <mat-form-field class="example-full-width d-block">
                                    <input matInput aria-label="City" [matAutocomplete]="City" formControlName="City"
                                        id="City" />
                                    <mat-autocomplete #City="matAutocomplete">
                                        <mat-option *ngFor="let City of listCity;let i = index" [value]="City.CityName">
                                            <img style="vertical-align:middle;" aria-hidden
                                                src="{{imgsrcCity + City.Avatar}}" height="25" width="25"
                                                alt="{{ City.Avatar }}" />
                                            <span class="ml-2">{{ City.CityName }}</span>
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </div>
                            <!-- District  -->
                            <div class="col">
                                <label for="District">District</label>
                                <mat-form-field class="example-full-width d-block">
                                    <input matInput aria-label="District" [matAutocomplete]="District"
                                        formControlName="District" id="District" />
                                    <mat-autocomplete #District="matAutocomplete">
                                        <mat-option *ngFor="let District of listDistrict;let i = index"
                                            [value]="District.DistrictName">
                                            <img style="vertical-align:middle;" aria-hidden
                                                src="{{imgsrcDistrict + District.Avatar}}" height="25" width="25"
                                                alt="{{ District.Avatar }}" />
                                            <span class="ml-2">{{ District.DistrictName }}</span>
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </div>
                            <!-- Are  -->
                            <div class="col">
                                <label for="Are">Are</label>

                                <!-- <select class="form-select form-control" formControlName="Are">
                                                                <option *ngFor="let Are of listAre" [value]="Are.AreID"
                                                                    [selected]="Are.AreID == formValidator.controls.Are.value">
                                                                    {{ Are.AreName }}
                                                                </option>
                                                            </select> -->
                                <mat-form-field class="example-full-width d-block">
                                    <input matInput aria-label="Are" [matAutocomplete]="Are" formControlName="Are"
                                        id="Are" />
                                    <mat-autocomplete #Are="matAutocomplete">
                                        <mat-option *ngFor="let Are of listAre;let i = index" [value]="Are.AreName">
                                            <img style="vertical-align:middle;" aria-hidden
                                                src="{{imgsrcAre + Are.Avatar}}" height="25" width="25"
                                                alt="{{ Are.Avatar }}" />
                                            <span class="ml-2">{{ Are.AreName }}</span>
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </div>
                        </div>
                        <!-- END Adress -->
                        <!-- Link face -->
                        <input type="hidden" class="form-control" formControlName="NetWorkID">

                        <!-- End Link Face -->
                        <div class="form-group col-md-12">
                            <label>Description Infor</label>
                            <textarea class="form-control" rows="4" formControlName="Description"></textarea>
                        </div>

                        <div class="col-md-12">
                            <button class="btn btn-primary" type="submit"
                                [disabled]="formValidator.status == 'INVALID' || formValid == true">Save
                                Changes</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!--=================================
My profile -->