<!--=================================
  Feature -->
<section class="space-ptb bg-holder-bottom building-space"
    style="background-image: url(/assets/page/images/building-bg.png);">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-9">
                <div class="section-title mb-0">
                    <h2>Plenty of reasons to choose us</h2>
                    <p>Our agency has many specialized areas, but our CUSTOMERS are our real specialty.</p>
                </div>
            </div>
            <div class="col-lg-3 text-lg-right">
                <a class="btn btn-primary" href="about-us.html">More about us </a>
            </div>
        </div>
        <div class="row no-gutters mt-4">
            <div class="col-lg-3 col-sm-6">
                <div class="feature-info h-100">
                    <div class="feature-info-icon">
                        <i class="flaticon-like"></i>
                    </div>
                    <div class="feature-info-content">
                        <h6 class="mb-3 feature-info-title">Excellent reputation</h6>
                        <p class="mb-0">Our comprehensive database of listings and market info give the most accurate
                            view of the market and your home value.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="feature-info h-100">
                    <div class="feature-info-icon">
                        <i class="flaticon-agent"></i>
                    </div>
                    <div class="feature-info-content">
                        <h6 class="mb-3 feature-info-title">Best local agents</h6>
                        <p class="mb-0">You are just minutes from joining with the best agents who are fired up about
                            helping you Buy or sell.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="feature-info h-100">
                    <div class="feature-info-icon">
                        <i class="flaticon-like-1"></i>
                    </div>
                    <div class="feature-info-content">
                        <h6 class="mb-3 feature-info-title">Peace of mind</h6>
                        <p class="mb-0">Rest guaranteed that your agent and their expert team are handling every detail
                            of your transaction from start to end.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="feature-info h-100">
                    <div class="feature-info-icon">
                        <i class="flaticon-house-1"></i>
                    </div>
                    <div class="feature-info-content">
                        <h6 class="mb-3 feature-info-title">Tons of options</h6>
                        <p class="mb-0">Discover a place you’ll love to live in. Choose from our vast inventory and
                            choose your desired house.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-lg-7 text-center">
                <p class="mb-4">Ten years and thousands of home buyers have turned to Real Villa to find their dream
                    home. We offer a comprehensive list of for-sale properties, as well as the knowledge and tools to
                    make informed real estate decisions. Today, more than ever, Real Villa is the home of home Search.
                </p>
                <div class="popup-video">
                    <a class="popup-icon popup-youtube" href="https://www.youtube.com/watch?v=LgvseYYhqU0"> <i
                            class="flaticon-play-button"></i> </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=================================
  Feature -->

<!--=================================
testimonial -->
<div id="carouselExampleInterval" class="carousel slide testimonial-main" data-ride="carousel" style="background-image: url(/assets/page/images/bg/02.jpg);">
    <div class="carousel-inner col-6">
        <div class="carousel-item active item" data-interval="1000">
            <div class="testimonial">
                <div class="testimonial-content">
                    <p><i class="quotes">"</i>
                        Thank you Martin for selling our apartment. We are delighted
                        with the result. I can highly recommend Martin to anyone seeking a truly
                        professional Realtor.
                    </p>
                </div>
                <div class="testimonial-name">
                    <h6 class="text-primary mb-1">Duc Nhu</h6>
                    <span>Nhu Hoang Minh Duc</span>
                </div>
            </div>
        </div>
        <div class="carousel-item item" data-interval="2000">
            <div class="testimonial">
                <div class="testimonial-content">
                    <p><i class="quotes">"</i>Oliver always had a smile and was so quick to answer and get
                        the job done. I'll definitely suggest you to anyone we know who is selling or
                        wanting to purchase a home. He is the best!</p>
                </div>
                <div class="testimonial-name">
                    <h6 class="text-primary mb-1">Thanh Tung</h6>
                    <span>Mr.Thanh Tung</span>
                </div>
            </div>
        </div>
       
    </div>


</div>

<!--=================================
testimonial -->

<!--=================================
Meet our agent -->
<section class="space-ptb">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title text-center">
                    <h2>Meet our agents</h2>
                    <p>Real Villa Agents are customer advocates. We are accountable for helping clients buy and sell the
                        right home, at the right price.</p>
                </div>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-3 col-sm-6 mb-4 mb-sm-0">
                <div class="agent text-center">
                    <div class="agent-detail">
                        <div class="agent-avatar avatar avatar-xllll">
                            <img class="img-fluid rounded-circle" src="/assets/page/images/agent/01.jpg" alt="">
                        </div>
                        <div class="agent-info">
                            <h6 class="mb-0"> <a href="agent-detail.html">Alice Williams </a></h6>
                            <span class="text-primary font-sm">Founder & CEO </span>
                            <p class="mt-3 mb-0">The first thing to remember about success is that it is a process –
                                nothing more, nothing less.</p>
                        </div>
                    </div>
                    <div class="agent-button">
                        <a class="btn btn-light btn-block" href="agent-detail.html">View Profile</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-4 mb-sm-0">
                <div class="agent text-center">
                    <div class="agent-detail">
                        <div class="agent-avatar avatar avatar-xllll">
                            <img class="img-fluid rounded-circle" src="/assets/page/images/agent/02.jpg" alt="">
                        </div>
                        <div class="agent-info">
                            <h6 class="mb-0"> <a href="agent-detail.html">Felica queen </a></h6>
                            <span class="text-primary font-sm">Construction</span>
                            <p class="mt-3 mb-0">There are basically six key areas to higher achievement. Some people
                                will tell you there are four.</p>
                        </div>
                    </div>
                    <div class="agent-button">
                        <a class="btn btn-light btn-block" href="agent-detail.html">View Profile</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-4 mb-sm-0">
                <div class="agent text-center">
                    <div class="agent-detail">
                        <div class="agent-avatar avatar avatar-xllll">
                            <img class="img-fluid rounded-circle" src="/assets/page/images/agent/03.jpg" alt="">
                        </div>
                        <div class="agent-info">
                            <h6 class="mb-0"> <a href="agent-detail.html">Paul flavius </a></h6>
                            <span class="text-primary font-sm">Investment</span>
                            <p class="mt-3 mb-0">While others may tell you there are eight. One thing for certain
                                though, is that irrespective of the.</p>
                        </div>
                    </div>
                    <div class="agent-button">
                        <a class="btn btn-light btn-block" href="agent-detail.html">View Profile</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="agent text-center">
                    <div class="agent-detail">
                        <div class="agent-avatar avatar avatar-xllll">
                            <img class="img-fluid rounded-circle" src="./assets/page/images/agent/04.jpg" alt="">
                        </div>
                        <div class="agent-info">
                            <h6 class="mb-0"> <a href="agent-detail.html">Sara lisbon </a></h6>
                            <span class="text-primary font-sm">Land development</span>
                            <p class="mt-3 mb-0">If success is a process with a number of defined steps, then it is just
                                like any other process.</p>
                        </div>
                    </div>
                    <div class="agent-button">
                        <a class="btn btn-light btn-block" href="agent-detail.html">View Profile</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=================================
Meet our agent -->

<!--=================================
Most popular places -->
<section class="space-pb">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title text-center">
                    <h2>Most popular places</h2>
                    <p>Discover homes in Real villa Most Popular Cities</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-md-6 mb-4 mb-lg-0">
                        <a href="property-grid.html">
                            <div class="location-item bg-overlay-gradient bg-holder"
                                style="background-image: url(/assets/page/images/location/01.jpg);">
                                <div class="location-item-info">
                                    <h5 class="location-item-title">Mumbai</h5>
                                    <span class="location-item-list">10 Properties</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6 mb-4 mb-md-0">
                        <a href="property-grid.html">
                            <div class="location-item bg-overlay-gradient bg-holder"
                                style="background-image: url(/assets/page/images/location/02.jpg);">
                                <div class="location-item-info">
                                    <h5 class="location-item-title">Los angeles</h5>
                                    <span class="location-item-list">14 Properties</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-12 mt-0 mt-lg-4">
                        <a href="property-grid.html">
                            <div class="location-item bg-overlay-gradient bg-holder"
                                style="background-image: url(/assets/page/images/location/04.jpg);">
                                <div class="location-item-info">
                                    <h5 class="location-item-title">Miami</h5>
                                    <span class="location-item-list">22 Properties</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mt-4 mt-lg-0">
                <a href="">
                    <div class="location-item location-item-big bg-overlay-gradient bg-holder">
                        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/kacyaEXqVhs"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                        <div class="location-item-info">
                            <h5 class="location-item-title">San francisco </h5>
                            <span class="location-item-list">29 Properties</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!--=================================
Most popular places -->


