tbody > tr td {
    max-width: 50px;
}
.table {
    width: 80%;
    margin: auto;
}

thead.angular-thead {
  text-align: center;
}
tr {
  text-align: center;
}
.d-flex {
  justify-content: center;
}

