<!--=================================
breadcrumb -->
<div class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item"><a href="index.html"> <i class="fas fa-home"></i> </a></li>
          <li class="breadcrumb-item"> <i class="fas fa-chevron-right"></i> <a href="#">Library</a></li>
          <li class="breadcrumb-item active"> <i class="fas fa-chevron-right"></i> <span> Property List </span></li>
        </ol>
      </div>
    </div>
  </div>
</div>
<!--=================================
breadcrumb -->

<!--=================================
Listing – grid view -->
<section class="space-ptb">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="section-title mb-3 mb-lg-4">
          <h2><span class="text-primary">{{ countResults }}</span> Results</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="property-item property-col-list mt-4" *ngFor='let prod of listProduct | paginate : {
              itemsPerPage: tableSize,
              currentPage: page,
              totalItems: count}'>
          <div class="row no-gutters">
            <div class="col-lg-4 col-md-5">
              <div class="property-image bg-overlay-gradient-04 angular-property-image">
                <img [src]="ImageBannerSrc + prod.ImageBannerName" [alt]="prod.ImageBannerName" class="img-fluid"/>
                <div class="property-lable">
                  <span class="badge badge-md badge-primary">{{ prod.CategoryName }}</span>
                </div>
                <div class="property-agent">
                  <div class="property-agent-image">
                    <img class="img-fluid h-100" [src]="UserSrcAvatar + prod.Avatar" [alt]="prod.Avatar"
                      routerLink="/user-detail/id/{{ prod.UserID }}">
                  </div>
                  <div class="property-agent-info">
                    <a class="property-agent-name" routerLink="/user-detail/id/{{ prod.UserID }}">{{ prod.Name }}</a>
                    <span class="d-block">Company {{ prod.User_type }}</span>
                    <ul class="property-agent-contact list-unstyled">
                      <li><a href="tel:{{prod.Phone}}"><i class="fas fa-mobile-alt"></i> </a></li>
                      <li><a href="mailto:{{prod.Email}}"><i class="fas fa-envelope"></i> </a></li>
                    </ul>
                  </div>
                </div>

              </div>
            </div>
            <div class="col-lg-8 col-md-7">
              <div class="property-details">
                <div class="property-details-inner">
                  <div class="property-details-inner-box">
                    <div class="property-details-inner-box-left">
                      <h5 class="property-name"><a
                          routerLink="/property-detail/id/{{ prod.ID }}">{{prod.ProjectName}}</a></h5>
                      <span class="property-address">
                        <i class="fas fa-map-marker-alt fa-xs"></i>
                        {{ prod.LocationName + " " + prod.CountryName + " " + prod.CityName}}
                      </span>
                    </div>
                    <div class="property-price">${{ prod.Price }}</div>
                  </div>
                  <ul class="property-info list-unstyled d-flex">
                    <li class="flex-fill property-m-sqft"><i class="far fa-square"></i>sqft<span>{{prod.Sqft}}m</span>
                    </li>
                  </ul>
                  <p class="mb-0 d-none d-block mt-3">{{ prod.Title }}</p>
                </div>
                <div class="property-btn">
                  <a class="property-link" routerLink="/property-detail/id/{{ prod.ID }}">See Details</a>
                  <ul class="property-listing-actions list-unstyled mb-0">
                    <li class="property-compare">
                      <span class="float-right" data-toggle="modal" data-target="#caculator"
                        (click)="onCaculator(prod)">
                        <a><i class="fas fa-calculator"></i></a>
                      </span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="d-flex justify-content-center">
          <pagination-controls
            responsive="true"
            previousLabel="Prev"
            nextLabel="Next"
            (pageChange)="onTableDataChange($event)">
          </pagination-controls>
        </div>
        <!-- <div class="row">
          <div class="col-12">
            <ul class="pagination mt-3">
              <li class="page-item disabled mr-auto">
                <span class="page-link b-radius-none">Prev</span>
              </li>
              <li class="page-item active" aria-current="page"><span class="page-link">1 </span> <span
                  class="sr-only">(current)</span></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item ml-auto">
                <a class="page-link b-radius-none" href="#">Next</a>
              </li>
            </ul>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</section>
<!--=================================
Listing – grid view -->

<!-- Modal Caculator -->
<div class="modal fade" id="caculator" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content col-6 mx-auto">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-10 mx-auto">
          <div class="row">
            <div class="d-none d-sm-block col-12 col-sm-6">
              <h3 class="text-center">Infor</h3>
              <div class="caculator-box__infor">
                <h5 class="property-title">
                  <a>
                    {{ caculatorProduct.ProjectName }}</a>

                </h5>
                <ul class="list-style-none p-0  text-left">
                  <li>
                    <span class="property-address">
                      ${{ caculatorProduct.Price }}
                    </span>
                  </li>
                  <li class="text-center">
                    <div class="property-image bg-overlay-gradient-04">
                      <img [src]="ImageBannerSrc + caculatorProduct.ImageBannerName" [alt]="caculatorProduct.Avatar"
                        class="img-fluid" />
                    </div>
                  </li>
                  <li>
                    <span class="property-address">
                      <i class="fas fa-map-marker-alt fa-xs"></i>
                      {{ caculatorProduct.LocationName }}
                    </span>
                  </li>
                  <li>
                    <span class="property-address">
                      <i class="far fa-flag"></i>
                      {{ caculatorProduct.CountryName }}
                    </span>
                  </li>

                  <li>
                    <span class="property-address">
                      <i class="far fa-building"></i>
                      {{ caculatorProduct.CityName }}
                    </span>
                  </li>
                  <li>
                    <span class="flex-fill property-m-sqft">
                      <i class="far fa-square"></i>
                      sqft<span>{{ caculatorProduct.Sqft }}m</span>
                    </span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-12 col-sm-6">
              <h3 class="text-center">Caculator</h3>
              <div class="caculator-box__form">
                <!-- <h5 class="property-title">{{
                                    caculatorProduct.Name }}
                                </h5> -->
                <ul class="list-style-none p-0">

                  <li>
                    <label>pre payment Select</label>
                    <span class="property-address">
                      <select [(ngModel)]="prepaymentSelect" class="form-control"
                        (change)="originalFeeForOneYearFunction(caculatorProduct.Price)">
                        <option *ngFor="let tienTraTrc of prepaymentList" [value]="tienTraTrc"
                          [selected]="tienTraTrc == 0">
                          {{tienTraTrc}}%
                        </option>
                      </select>
                    </span>
                  </li>

                  <li>
                    <label for="">loan Term Select</label>
                    <span class="property-address">
                      <select class="form-control" [(ngModel)]="loanTermSelect"
                        (change)="originalFeeForOneYearFunction(caculatorProduct.Price)">
                        <option *ngFor="let loanTerm of loanTermList" [value]="loanTerm">
                          {{loanTerm}} year</option>
                      </select>
                    </span>
                  </li>
                  <li>
                    <label for="">interest</label>
                    <input type="text" disabled class="form-control" [value]="interestRate + '%'">
                  </li>
                  <li>
                    <!-- Cuoc goc tra trog 1 nam -->
                    <span class="flex-fill ketqua">
                      <label for="">original Fee For One Year</label>
                      <input disabled type="number" [value]="originalFeeForOneYear"
                        class="form-control" />
                    </span>
                  </li>
                  <li>
                    <!-- tien lai trog 1 nam -->
                    <span class="flex-fill ketqua">
                      <label for="">interest In One Year</label>
                      <input disabled type="number" [value]="interestInOneYear"
                        class="form-control" />
                    </span>
                  </li>
                  <li>
                    <!-- tien tra trog 1 nam -->
                    <span class="flex-fill ketqua">
                      <label for="">total</label>
                      <input disabled type="number" [value]="total" class="form-control" />
                    </span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
