<div class="row row-cols-2 row-cols-md-4">
    <div class="col mb-4">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">

                <div class="col-12 text-center">
                    <div class="card-body bg-c-yellow">
                        <h5 class="card-title">Customers <span><i class="fas fa-users"></i></span></h5>

                        <h4 class="text-muted">{{ countaccActiveNotAd }}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">

                <div class="col-12 text-center">
                    <div class="card-body bg-c-green">
                        <h5 class="card-title">Packages sold
                            <span class="menu-icon"><i class="fas fa-crown"></i></span>
                        </h5>

                        <p class="card-text">
                        <h4 class="text-muted">{{ countpackagePurchased }}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">

                <div class="col-12 text-center">
                    <div class="card-body bg-c-green2">
                        <h5 class="card-title">Count Products Active 
                            <span><i class="fas fa-hotel"></i></span>
                        </h5>

                        <h4 class="text-muted">{{ countProductActive }}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">

                <div class="col-12 text-center">
                    <div class="card-body">
                        <h5 class="card-title">Products Sold</h5>

                        <h4 class="text-muted">{{ countProductSold }}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--  ChartJs -->
<div class="card-columns">
    <div class="card">
        <div class="item">
            <h4>Count product active: {{ countAccAgentActive + countAccSellerActive }} members</h4>

            <canvas baseChart chartType="pie" [data]="[listNameCategoryAndCountProductByThisCategory_Count]"
                [colors]="listNameCategoryAndCountProductByThisCategory_BgList"
                [labels]="listNameCategoryAndCountProductByThisCategory_Name" [options]="chartOptions"
                [plugins]="chartPlugins" [legend]="chartLegend">
            </canvas>
        </div>
    </div>


    <div class="card">
        <div class="item">
            <h4>Package is preferred</h4>

            <canvas baseChart chartType="pie" [data]="[listNamePackageAndCountPackagePurchased_Count]"
                [colors]="listNamePackageAndCountPackagePurchased_BgList"
                [labels]="listNamePackageAndCountPackagePurchased_Name" [options]="chartOptions"
                [plugins]="chartPlugins" [legend]="chartLegend">
            </canvas>
        </div>
    </div>

    <div class="card">
        <div class="item">
            <h4>package by income</h4>
            <canvas baseChart chartType="pie" [data]="[listNamePackageAndPriceByThisPackage_TotalPrice]"
                [colors]="listNamePackageAndCountPackagePurchased_BgList"
                [labels]="listNamePackageAndCountPackagePurchased_Name" [options]="chartOptions" [plugins]="chartPlugins"
                [legend]="chartLegend">
            </canvas>

            <p class="text-capitalize text-center">Total Price: {{ TotalPrice | currency :'$' :true: '1.0-3'}}</p>
        </div>
    </div>
</div>