.list-dashboard .item {
    margin: 15px 0px;
}
.list-dashboard .item .box-infor {
    width: 100%;
    height: 17rem;
    max-height: 18rem;
    max-width: 18rem;

    background-color: rgba(164, 162, 162, 0.707);
    box-shadow: 0px 0px 3px gray;

    position: relative;
    margin: 10px auto;
}

.list-dashboard .item h4 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.list-dashboard .item .box-infor h4 {
    position: absolute;
    top: 50%;

    left: 50%;
    transform: translate(-50%, -50%);

    font-weight: bold;
    color: white;
    font-size: 10rem !important;
}

.font-small {
    font-size: 5rem !important;
}

.masonry-item {
    padding: 10px;
}

.masonry-item div:first-child {
    padding: 15px;
    border: 1px solid;
    border-radius: 20px;
}

.card {
    border: none !important;
}

.item {
    padding: 15px 0px;
    border: 1px solid rgba(101, 126, 174, 0.25);
    border-radius: 10px;
}

.item h4 {
    text-align: center;
}
.item canvas {
    margin: auto;
}

.card-body {
    border-radius: 10px;
     background: white;
     border: 1px solid rgba(101, 126, 174, 0.25);
     box-shadow:0px 0px 5px rgba(101, 126, 174, 0.25)
}

.card-title,
.text-muted {
    text-transform: capitalize;
    color: #93a8ac  !important;
    font-size: 30px;
}
/* 
.bg-c-yellow {
    background: -webkit-gradient(linear, left top, right top, from(#fe9365), to(#feb798));
    background: linear-gradient(to right, #fe9365, #feb798);
    box-shadow: 4px 4px 1px #feb798;
}

.bg-c-green {
    background: -webkit-gradient(linear, left top, right top, from(#0ac282), to(#0df3a3));
    background: linear-gradient(to right, #0ac282, #0df3a3);
    box-shadow: 4px 4px 1px #0df3a3;
}


.bg-c-green2{
    background: -webkit-gradient(linear, left top, right top, from(#0fe49a), to(#0df3a2c9));
    background: linear-gradient(to right, #0fe49a, #0df3a2c9);
    box-shadow: 4px 4px 1px #0df3a2c9;
} */