<app-banner></app-banner>
<!--=================================
Browse properties -->
<app-browse-category></app-browse-category>
<!--=================================
Browse properties -->

<!--=================================
  Featured properties-->
<app-newly-listed></app-newly-listed>
<!--=================================
Featured properties-->


<!-- ==========
Discover Our Best Deals -->
<app-deals></app-deals>
<!-- -==========================
Discover Our Best Deals -->

<!-- ============================
About us -->
<app-aboutus></app-aboutus>
<!-- -===========================
About us -->