<!--=================================
banner -->
<section class="banner bg-holder bg-overlay-black-30" style="background-image: url(/assets/page/images/banner-01.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-white text-center mb-2">Create lasting wealth through Real Villa</h1>
                <p class="lead text-center text-white mb-4 font-weight-normal">Take a step to realizing your dream.
                    #TimeToMove</p>
                <div class="property-search-field bg-white">
                    <div class="property-search-item">
                        <form class="form-row basic-select-wrapper" [formGroup]="formValidator">
                            <div class="form-group col-lg col-md-6">
                                <label>Property type</label>
                                <div class="d-flex align-items-center">
                                    <mat-form-field class="example-full-width">
                                        <input matInput aria-label="Category" [matAutocomplete]="category" formControlName="category" >
                                        <mat-autocomplete #category="matAutocomplete">
                                            <mat-option *ngFor="let category of listCategory "
                                                [value]="category.CategoryName">
                                                <img style="vertical-align:middle;" aria-hidden
                                                    src="{{imgsrcCategory + category.Avatar}}" height="25" width="25"
                                                    alt="{{ category.Avatar }}" />
                                                <span class="ml-2">{{ category.CategoryName }}</span>
                                            </mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="form-group col-lg col-md-6">
                                <label>Seller</label>
                                <select class="form-control basic-select border-bottom" formControlName="User_type">
                                    <option value="agent">For Agent</option>
                                    <option value="seller">For Seller</option>
                                </select>
                            </div>
                            <div class="form-group d-flex col-lg-5">
                                <div class="form-group-search">
                                    <label>Location</label>
                                    <div class="d-flex align-items-center">
                                        <mat-form-field class="example-full-width">
                                            <input matInput aria-label="Location" [matAutocomplete]="Location" formControlName="LocationName">
                                            <mat-autocomplete #Location="matAutocomplete">
                                                <mat-option *ngFor="let Location of listLocation"
                                                    [value]="Location.LocationName">
                                                    <img style="vertical-align:middle;" aria-hidden
                                                        src="{{imgsrcLocation + Location.Avatar}}" height="25"
                                                        width="25" alt="{{ Location.Avatar }}" />
                                                    <span class="ml-2">{{ Location.LocationName }}</span>
                                                </mat-option>
                                            </mat-autocomplete>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <span class="align-items-center ml-3 d-none d-lg-block"><button (click)="OnSearch(formValidator.value)"
                                    
                                        class="btn btn-primary d-flex align-items-center" type="submit"><i
                                            class="fas fa-search mr-1"></i><span>Search</span></button></span>
                            </div>
                            <div class="form-group text-center col-lg-2">
                                <div class="d-flex justify-content-center d-md-inline-block">
                                    <a class="more-search p-0" data-toggle="collapse" href="#advanced-search"
                                        role="button" aria-expanded="false" aria-controls="advanced-search"> <span
                                            class="d-block pr-2 mb-1">Advanced search</span>
                                        <i class="fas fa-angle-double-down"></i></a>
                                </div>
                            </div>
                            <div class="collapse advanced-search" id="advanced-search">
                                <div class="card card-body">
                                    <div class="form-row">
                                        <div class="form-group col-md-3">
                                            <label>Country</label>
                                            <div class="d-flex align-items-center">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput aria-label="Country" [matAutocomplete]="Country" formControlName="CountryName">
                                                    <mat-autocomplete #Country="matAutocomplete">
                                                        <mat-option *ngFor="let Country of listCountry"
                                                            [value]="Country.CountryName">
                                                            <img style="vertical-align:middle;" aria-hidden
                                                                src="{{imgsrcCountry + Country.Avatar}}" height="25"
                                                                width="25" alt="{{ Country.Avatar }}" />
                                                            <span class="ml-2">{{ Country.CountryName }}</span>
                                                        </mat-option>
                                                    </mat-autocomplete>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label>City</label>
                                            <div class="d-flex align-items-center">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput aria-label="City" [matAutocomplete]="City" formControlName="CityName">
                                                    <mat-autocomplete #City="matAutocomplete">
                                                        <mat-option *ngFor="let City of listCity"
                                                            [value]="City.CityName">
                                                            <img style="vertical-align:middle;" aria-hidden
                                                                src="{{imgsrcCity + City.Avatar}}" height="25"
                                                                width="25" alt="{{ City.Avatar }}" />
                                                            <span class="ml-2">{{ City.CityName }}</span>
                                                        </mat-option>
                                                    </mat-autocomplete>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label>District</label>
                                            <div class="d-flex align-items-center">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput aria-label="District" [matAutocomplete]="District" formControlName="DistrictName">
                                                    <mat-autocomplete #District="matAutocomplete">
                                                        <mat-option *ngFor="let District of listDistrict"
                                                            [value]="District.DistrictName">
                                                            <img style="vertical-align:middle;" aria-hidden
                                                                src="{{imgsrcDistrict + District.Avatar}}" height="25"
                                                                width="25" alt="{{ District.Avatar }}" />
                                                            <span class="ml-2">{{ District.DistrictName }}</span>
                                                        </mat-option>
                                                    </mat-autocomplete>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label>Are</label>
                                            <div class="d-flex align-items-center">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput aria-label="Are" [matAutocomplete]="Are" formControlName="AreName">
                                                    <mat-autocomplete #Are="matAutocomplete">
                                                        <mat-option *ngFor="let Are of listAre" [value]="Are.AreName">
                                                            <img style="vertical-align:middle;" aria-hidden
                                                                src="{{imgsrcAre + Are.Avatar}}" height="25" width="25"
                                                                alt="{{ Are.Avatar }}" />
                                                            <span class="ml-2">{{ Are.AreName }}</span>
                                                        </mat-option>
                                                    </mat-autocomplete>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-3">
                                            <mat-label>Min Sqft</mat-label>
                                            <mat-slider class="d-block example-margin" [max]="maxSqft[0].maxSqft" [min]="0"
                                                [thumbLabel]="true" #sqftMin formControlName="sqftMin">
                                            </mat-slider>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <mat-label>Max Sqft</mat-label>
                                            <mat-slider class="d-block example-margin" [max]="maxSqft[0].maxSqft" [min]="0" sqftMax
                                                [thumbLabel]="true" formControlName="sqftMax">
                                            </mat-slider>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <mat-label>Min Price</mat-label>
                                            <mat-slider class="d-block example-margin" [max]="maxPrice[0].maxPrice" [min]="0"
                                                PriceMin [thumbLabel]="true" formControlName="priceMin">
                                            </mat-slider>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <mat-label>Max Price</mat-label>
                                            <mat-slider class="d-block example-margin" [max]="maxPrice[0].maxPrice" [min]="0" 
                                                 [thumbLabel]="true" formControlName="priceMax">
                                            </mat-slider>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-lg-none btn-block btn-mobile m-3">
                                <button class="btn btn-primary btn-block align-items-center" type="submit"><i
                                        class="fas fa-search mr-1"></i><span>Search</span></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=================================
banner -->