<!--=================================
Listing – grid view -->
<section class="space-ptb">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="agent agent-03">
                    <div class="row no-gutters">
                        <div class="col-3 text-center border-right">
                            <div class="d-flex flex-column h-100 p-3">
                                <div class="agent-avatar my-auto angular-property-image">
                                    <img class="img-fluid rounded-circle h-100" src="{{ imgsrc + UserInfor[0].Avatar }}"
                                        alt="{{ UserInfor[0].Avatar }}">
                                </div>
                                <div class="agent-listing text-center mt-3 mx-auto">
                                    <a><strong class="text-primary mr-2 d-inline-block">{{ countProductByUser[0].count
                                            }}</strong>Listed
                                        Properties </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-9">
                            <div class="d-flex h-100 flex-column">
                                <div class="agent-detail">
                                    <div class="d-block d-sm-flex">
                                        <div class="agent-name mb-3 mt-sm-0">
                                            <h2> <a href="#">{{ UserInfor[0].Name }}</a></h2>
                                            <span>{{ UserInfor[0].Title }}</span>
                                        </div>
                                    </div>
                                    <div class="agent-info">
                                        <p class="mt-3 mb-3">
                                            {{ UserInfor[0].Description }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <section class="space-pb">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <ul class="nav nav-tabs mb-4" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="infor-tab" data-toggle="pill" href="#infor" role="tab" aria-controls="infor"
                                    aria-selected="false">infor</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="listing-tab" data-toggle="pill" href="#listing" role="tab" aria-controls="listing"
                                    aria-selected="false">Listing</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="package-tab" data-toggle="pill" href="#package"
                                    role="tab" aria-controls="package" aria-selected="true">package</a>
                            </li>
                            
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade active show" id="infor" role="tabpanel" aria-labelledby="package-tab">
                                <div class="row">
                                    <div class="col-sm-4 col-12 my-2">
                                        <div class="p-4 bg-light">
                                            <div class="section-title mb-4">
                                                <h4>Contact Detail</h4>
                                            </div>
                                            <ul class="list-unstyled mb-0">
                                                <li class="mb-2"><strong class="text-dark d-inline-block mr-2">Location:</strong>{{
                                                    UserInfor[0].Location }}</li>
                                                <li class="mb-2"><strong class="text-dark d-inline-block mr-2">Country:</strong>{{
                                                    UserInfor[0].Country }}</li>
                                                <li class="mb-2"><strong class="text-dark d-inline-block mr-2">City:</strong>{{
                                                    UserInfor[0].City }}</li>
                                                <!-- <li class="mb-2"><strong
                                                                        class="text-dark d-inline-block mr-2">Website:</strong>potenzaglobalsolutions.com</li> -->
                                                <li class="mb-2"><strong class="text-dark d-inline-block mr-2">Phone:</strong>{{
                                                    UserInfor[0].Phone }}
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade show" id="package" role="tabpanel"
                                aria-labelledby="package-tab">
                                <div class="row flex-row-reverse justify-content-end" [class]="countPackage == 0 ? 'd-none' : 'd-flex'">
                                    <div class="col-sm-4 col-12 my-2" *ngFor="let p of listPackage">
                                        <div class="pricing">
                                            <h5 class="pricing-title">{{p.PackageName}}</h5>
                                            <!-- <img [src]="p.ImageBannerSrc + p.PackageAvatar" [alt]="p.PackageAvatar" class="img-fluid"
                                                        *ngIf="p.PackageAvatar != null"> -->
                                            <ul class="list-style-none p-0">
                                                <li class="pricing-price d-block mb-2">
                                                    <span><strong>${{p.Price}}</strong></span>
                                                </li>
                                                <li>{{p.PackageTitle}}</li>
                                                <li>Duration: {{ p.Duration }} {{ p.TypeDuration }} days</li>
                                                <li>Time Buy: {{ p.StartDate | date:'d MMM y ' }}</li>
                                                <li>End Time: {{ p.EndDate | date:'d MMM y ' }}</li>
                                            </ul>

                                            <p>
                                                You have {{ p.Duration }} days to post for free
                                                <br>
                                                {{p.PackageDesciption}}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="alert-danger" [class]="countPackage == 0 ? 'd-block' : 'd-none'">
                                    <strong class="p-3">
                                        No posts have been posted yet
                                    </strong>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="listing" role="tabpanel" aria-labelledby="listing-tab">
                                <div class="row" [class]="countProductByUser[0].count == 0 ? 'd-none' : 'd-flex'">
                                    <div class="col-sm-6 col-md-4" *ngFor='let prod of listProductOfUser'>
                                        <div class="property-item">
                                            <div class="property-image bg-overlay-gradient-04 angular-property-image">
                                                <img [src]="ImageBannerSrc + prod.ImageBannerName"
                                                    [alt]="prod.ImageBannerName" class="img-fluid" />
                                                <div class="property-lable">
                                                    <span class="badge badge-md badge-primary">{{ prod.CategoryName }}</span>
                                                </div>
                                                
                                            </div>
                                            <div class="property-details">
                                                <div class="property-details-inner">
                                                    <h5 class="property-name"><a routerLink="/property-detail/id/{{ prod.ID }}">{{prod.ProjectName}}</a></h5>
                                                    <span class="property-address">
                                                        <i class="fas fa-map-marker-alt fa-xs"></i>
                                                        {{ prod.LocationName + " " + prod.CountryName + " " + prod.CityName}}
                                                    </span>
                                                    
                                                    <div class="property-price">${{ prod.Price }}</div>
                                                    <ul class="property-info list-unstyled d-flex">
                                                        <li class="flex-fill property-m-sqft"><i class="far fa-square"></i>sqft<span>{{prod.Sqft}}m</span>
                                                        </li>
                                                    </ul>
                                                    <p class="mb-0 d-none d-block mt-3">{{ prod.Title }}</p>
                                                </div>
                                                <div class="property-btn">
                                                    <a class="property-link" routerLink="/property-detail/id/{{ prod.ID }}">See Details</a>
                                                    <ul class="property-listing-actions list-unstyled mb-0">
                                                        <li class="property-compare">
                                                            <span class="float-right" data-toggle="modal" data-target="#caculator" (click)="onCaculator(prod)">
                                                                <a><i class="fas fa-calculator"></i></a>
                                                            </span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="alert-danger" [class]="countProductByUser[0].count == 0 ? 'd-block' : 'd-none'">
                                    <strong class="p-3">
                                        No posts have been posted yet
                                    </strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>

<!-- Modal Caculator -->
<div class="modal fade" id="caculator" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content col-6 mx-auto">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-10 mx-auto">
                    <div class="row">
                        <div class="d-none d-sm-block col-12 col-sm-6">
                            <h3 class="text-center">Infor</h3>
                            <div class="caculator-box__infor">
                                <h5 class="property-title">
                                    <a routerLink="product/productName/{{ caculatorProduct.ProjectName }}">
                                        {{ caculatorProduct.ProjectName }}</a>

                                </h5>
                                <ul class="list-style-none p-0  text-left">
                                    <li>
                                        <span class="property-address">
                                            ${{ caculatorProduct.Price }}
                                        </span>
                                    </li>
                                    <li class="text-center">
                                        <div class="property-image bg-overlay-gradient-04">
                                            <img [src]="ImageBannerSrc + caculatorProduct.ImageBannerName"
                                                [alt]="caculatorProduct.Avatar" class="img-fluid" />
                                        </div>
                                    </li>
                                    <li>
                                        <span class="property-address">
                                            <i class="fas fa-map-marker-alt fa-xs"></i>
                                            {{ caculatorProduct.LocationName }}
                                        </span>
                                    </li>
                                    <li>
                                        <span class="property-address">
                                            <i class="far fa-flag"></i>
                                            {{ caculatorProduct.CountryName }}
                                        </span>
                                    </li>

                                    <li>
                                        <span class="property-address">
                                            <i class="far fa-building"></i>
                                            {{ caculatorProduct.CityName }}
                                        </span>
                                    </li>
                                    <li>
                                        <span class="flex-fill property-m-sqft">
                                            <i class="far fa-square"></i>
                                            sqft<span>{{ caculatorProduct.Sqft }}m</span>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <h3 class="text-center">Caculator</h3>
                            <div class="caculator-box__form">
                                <!-- <h5 class="property-title">{{
                                    caculatorProduct.Name }}
                                </h5> -->
                                <ul class="list-style-none p-0">

                                    <li>
                                        <label for="">pre payment Select</label>
                                        <span class="property-address">
                                            <select [(ngModel)]="prepaymentSelect" class="form-control"
                                                (change)="originalFeeForOneYearFunction()">
                                                <option *ngFor="let tienTraTrc of prepaymentList" [value]="tienTraTrc"
                                                    [selected]="tienTraTrc == 0">
                                                    {{tienTraTrc}}%
                                                </option>
                                            </select>
                                        </span>
                                    </li>

                                    <li>
                                        <label for="">loan Term Select</label>
                                        <span class="property-address">
                                            <select class="form-control" [(ngModel)]="loanTermSelect"
                                                (change)="originalFeeForOneYearFunction()">
                                                <option *ngFor="let loanTerm of loanTermList; let i = index"
                                                    [value]="loanTerm" [value]="loanTerm">
                                                    {{loanTerm}} year</option>
                                            </select>
                                        </span>
                                    </li>
                                    <li>
                                        <label for="">interest</label>
                                        <input type="text" disabled class="form-control" [value]="interestRate + '%'">
                                    </li>
                                    <li>
                                        <!-- Cuoc goc tra trog 1 nam -->
                                        <span class="flex-fill">
                                            <label for="">original Fee For One Year</label>
                                            <p><b>{{ originalFeeForOneYear | currency :'$' :true: '1.0-3' }}</b></p>
                                        </span>
                                    </li>
                                    <li>
                                        <!-- tien lai trog 1 nam -->
                                        <span class="flex-fill">
                                            <label for="">interest In One Year </label>
                                            <p><b>{{ interestInOneYear | currency :'$' :true: '1.0-3' }}</b></p>
                                        </span>
                                    </li>
                                    <li>
                                        <!-- tien tra trog 1 nam -->
                                        <span class="flex-fill">
                                            <label for="">total</label>
                                            <p><b>{{ total | currency :'$' :true: '1.0-3' }}</b></p>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>