<!--=================================
breadcrumb -->
<div class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a href="index.html"> <i class="fas fa-home"></i> </a></li>
                    <li class="breadcrumb-item"> <i class="fas fa-chevron-right"></i> <a href="#">Library</a></li>
                    <li class="breadcrumb-item active"> <i class="fas fa-chevron-right"></i> <span> Agent Listing – list
                            view </span></li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!--=================================
breadcrumb -->

<!--=================================
Listing – grid view -->
<section class="space-ptb">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="section-title mb-3 mb-lg-4">
                    <h2><span class="text-primary">{{ resultCount }}</span> Results</h2>
                </div>
            </div>

        </div>

        <div class="col-lg-12 col-md-12">
            <div class="agent agent-03 mt-4" *ngFor="let user of listSeller">
                <div class="row no-gutters">
                    <div class="col-lg-4 text-center border-right">
                        <div class="d-flex flex-column h-100">
                            <div class="agent-avatar my-auto angular-property-image">
                                <img class="img-fluid" [src]="getImageAvatarSrc + user.Avatar" [alt]="user.Avatar">
                            </div>
                            <div class="agent-listing text-center mt-auto">
                                <a href="#"> <strong class="text-primary d-inline-block mr-2">20</strong>Listed
                                    Properties </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="d-flex h-100 flex-column">
                            <div class="agent-detail">
                                <div class="d-sm-flex">
                                    <div class="agent-name">
                                        <h5 class="mb-0"> <a routerLink="/user-detail/id/{{ user.ID }}">Nhu Hoang Minh Duc</a></h5>
                                        <!-- <span>Pomegranate real estates</span> -->
                                    </div>
                                    <!-- <div class="agent-social ml-auto mt-2 mt-sm-0">
                                        <ul class="list-unstyled list-inline">
                                            <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i>
                                                </a></li>
                                            <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i>
                                                </a></li>
                                            <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin"></i>
                                                </a></li>
                                        </ul>
                                    </div> -->
                                </div>
                                <div class="agent-info">
                                    <p class="mt-3 mb-3">{{ user.Title }}</p>
                                    <ul class="list-unstyled mb-0">
                                        <li><strong>Mobile: </strong>{{ user.Phone }}</li>
                                        <li><strong>Email: </strong>{{ user.Email }}</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="agent-button">
                                <a class="btn btn-light btn-lg btn-block" routerLink="/user-detail/id/{{ user.UserID }}">View Profile</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
            <div class="row">
                <div class="col-12">
                    <ul class="pagination mt-5">
                        <li class="page-item disabled mr-auto">
                            <span class="page-link b-radius-none">Prev</span>
                        </li>
                        <li class="page-item active" aria-current="page"><span class="page-link">1 </span> <span
                                class="sr-only">(current)</span></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item ml-auto">
                            <a class="page-link b-radius-none" href="#">Next</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
   
</section>
<!--=================================
Listing – grid view -->